@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");
body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

header {
  width: 1024px;
  height: 320px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 20px 20px;
}

header .line-container {
  width: 1024px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.35);
  margin-left: auto;
  margin-top: 50px;
}

header .line-container .container-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  width: 1024px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background: #000;
  -webkit-filter: brightness(0.42);
          filter: brightness(0.42);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .line-container .logo-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  bottom: 190px;
  left: 20px;
}

header .line-container .logo-container .logo {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  border-radius: 100px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  width: 120px;
  list-style-type: none;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}

header ul li a {
  text-decoration: none;
  color: #323a45;
}

header ul li .cartAlign {
  margin-left: 30px;
}

header ul li .cartIcon {
  font-size: 25px;
  color: #985c00;
}

.nav-group {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1024px;
  margin-bottom: 7px;
  border-radius: 0 0 20px 20px;
}

.under-bar {
  width: 1024px;
  height: 20px;
  border-radius: 0 0 20px 20px;
}

.under-bar .container-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 1024px;
  height: 20px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 20px 20px 0 0;
}

.logo-container {
  position: relative;
  right: 0;
}

main {
  width: 1024px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #apitest {
  width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #apitest ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #apitest ul .indexList {
  padding: 10px;
  width: 200px;
  height: 265px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main #apitest ul .indexList .imgList {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
}

main #apitest ul .indexList .description--groupList {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  row-gap: 10px;
}

main #apitest ul .indexList .description--groupList p {
  font-family: roboto, sans-serif;
  margin: 0;
  color: black;
  margin-left: auto;
  margin-right: 10px;
}

#apitest {
  width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#apitest ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#apitest ul .productList {
  padding: 10px;
  width: 900px;
  height: 520px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 24px;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

#apitest ul .productList:hover > .imgProduct {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

#apitest ul .productList .imgProduct {
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
  width: 570px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
  border-radius: 24px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#apitest ul .productList .description--groupProduct {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  row-gap: 30px;
  margin-left: 20px;
}

#apitest ul .productList .description--groupProduct .pTitleProduct {
  font-weight: 700;
  font-size: 36px;
  font-family: roboto, sans-serif;
  margin: 0;
  color: #272727;
}

#apitest ul .productList .description--groupProduct .description {
  font-size: 18px;
  font-weight: 400;
  font-family: roboto, sans-serif;
  margin: 0;
  color: #272727;
  margin-right: 20px;
}

#apitest ul .productList .description--groupProduct .blackLineSmall {
  width: 280px;
  height: 3px;
  background: #1d1c1c;
}

#apitest ul .productList .description--groupProduct #varnish {
  width: 280px;
  margin-right: 100px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

#apitest ul .productList .description--groupProduct .pPriceProduct {
  font-family: roboto, sans-serif;
  margin: 0;
  color: #272727;
  margin-left: auto;
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
}

#apitest ul .productList .description--groupProduct .pPriceProduct::before {
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #000;
  position: relative;
  top: -10px;
  left: -2px;
}

#apitest ul .productList .description--groupProduct #cartButton {
  margin-top: auto;
  margin-bottom: 100px;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#apitest ul .productList .description--groupProduct #cartButton a {
  cursor: pointer;
}

#apitest ul .productList .description--groupProduct #cartButton a button {
  background-color: #fc5e15;
  border-radius: 9px;
  color: white;
  border: none;
  height: 40px;
  width: 160px;
  font-size: 15px;
  font-weight: bold;
}

#apitest ul .productList .description--groupProduct #cartButton a:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
}

.containerCart {
  border: 2px solid white;
  min-height: 300px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 40px;
  width: 1024px;
}

.containerCart .titleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.containerCart .titleBar p {
  width: 250px;
  font-weight: 500;
  font-family: roboto, sans-serif;
  font-size: 18px;
}

.containerCart #productToShow {
  background-color: #3a1c00;
  min-height: 200px;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerCart .totalCart {
  margin-top: auto;
  margin-left: auto;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.containerCart .totalCart p {
  font-size: 20px;
  font-family: roboto, sans-serif;
}

.containerCart .payCart {
  margin-left: auto;
  margin-top: 30px;
  padding: 10px 0;
}

.containerCart .payCart button {
  border-radius: 5px;
}

.containerCart .payCart #clearCart {
  background: #2c2c2c;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border: none;
  padding: 10px;
  margin-right: 20px;
}

.containerCart .payCart #payButton {
  background: #e93131;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border: none;
  padding: 10px;
}

#cartIsEmpty {
  background-color: #272727;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#cartIsEmpty .emptyCartStyle {
  color: white;
  font-size: 17px;
}

#cartIsFilled {
  background-color: white;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 15px 0;
}

#cartIsFilled .itemCart {
  color: #020202;
  font-size: 17px;
}

.inputQuantity {
  width: 30px;
  margin-right: 110px;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  top: 200px;
  z-index: 9;
  -webkit-transition: 2s;
  transition: 2s;
}

/* Add styles to the form container */
.form-container {
  margin-top: 45px;
  max-width: 1024px;
  width: 984px;
  padding: 20px;
  background-color: #0e0e0e;
}

.titleLabel {
  margin-bottom: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #ffffff;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.9;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form h1 {
  font-family: roboto;
  margin-top: 0;
  color: white;
}

label {
  font-weight: bold;
  font-family: roboto;
  color: white;
}

#nameWidth {
  width: 250px;
}

#vernishWidth {
  width: 170px;
}

#qtWidth {
  width: 170px;
}

#priceUWidth {
  width: 170px;
  margin-right: 40px;
}

#totalPriceWidth {
  width: 170px;
}

#itemName {
  width: 200px;
  margin-right: 50px;
}

#itemOption {
  width: 180px;
}

#itemQt {
  margin-right: 120px;
}

#itemPrice {
  width: 210px;
}

#itemTotalPrice {
  width: 100px;
}

.removeItem {
  margin-right: 0;
  margin-left: 30px;
}

#marginTop {
  margin-top: 20px;
  margin-bottom: 20px;
}

.isValid {
  background-color: white;
  margin-left: 20px;
  margin-left: 20px;
  color: #009625;
  padding: 3px;
  border-radius: 5px;
}

.isIncorrect {
  border-radius: 5px;
  padding: 3px;
  background-color: white;
  margin-left: 20px;
  color: #f72727;
}
/*# sourceMappingURL=style.css.map */